body {
  font: 400 20px/30px "Graphik LCG", Arial, Helvetica, sans-serif;
  color: $black;
}
#wrapper {
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1437px;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
a {
  color: $black;
}
h1 {
  font-weight: 600;
  font-size: $h1fz;
  line-height: $h1lh;
  color: $black;
  padding: 0;
  margin: 0;
}
h2 {
  font-weight: 600;
  font-size: $h2fz;
  line-height: $h2lh;
  color: $black;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 600;
  font-size: $h3fz;
  line-height: $h3lh;
}
