$orange: #ff6336;
$base_fz: 15px;
$base_lh: 20px;
$black: #000;
$white: #fff;
$color_subtitle: #ff9c7d;
$color_lokalise: #fff8e4;
$color_try-it-free: #ff9c7d;
$color_managment: #dabc98;
$color_chief-bg: #c9e8f2;
$footer-bg: #eeeeee;
$hover-btn-bg: #ccc;

$h1fz: 65px;
$h1lh: 70px;
$h2fz: 50px;
$h2lh: 60px;
$h3fz: 35px;
$h3lh: 50px;
$h4fz: 30px;
$h4lh: 40px;
$h5fz: 65px;
$h5lh: 75px;
